*.mp4
VS/Übungen/svn/*
*.svn/pristine*
*.svn-base
*.zip
*.dat
KI/Übungen/Teil2/*.csv

WBA/RailsProjekt/blogRevised/
WBA/RailsProjekt/wbaRails/
KI/Übungen/Teil2/model.pkl
KI/Übungen/Teil2/train_big/.~lock.train.csv#
KI/Übungen/Teil2/train_big/train.csv
Empfängererklärung_editierbar_1.pdf
*.gz
KI/Übungen/Teil2/train_big/train.csv
*.jpg
